.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000;
  margin-right: 93px;
}
.first-logo-part {
  color: #2196f3;
}
.footer__logo {
  color: #ffffff;
}
.footer__logo-container {
  width: 100%;
}
