.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000;
  margin: 16px auto 16px 0;
}
.first-logo-part {
  color: #2196f3;
}
.footer__logo {
  color: #ffffff;
}
.footer__logo-container {
  width: 100%;
  display: inline-block;
text-align: center;

}
@media screen and (min-width:768px) {
  .logo{margin-right: 88px;}
  .footer__logo-container {
    margin-bottom: 0;
    margin-left: 36px;}
}
@media screen and (min-width:1200px) {
  // .logo{margin: 0 94px;}
  .footer__logo-container {
   margin-left: 0;
    text-align: left;
  // .logo{
  //   margin:0;
  // }
}
}