body{
  font-family: 'Roboto';
}
.list {
  list-style-type: none;
}
.container {
//   width: 1200px;
  padding: 0px 15px;
//   margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
  padding: 0;
}
.benefits__hidden-title,
.portfolio__hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}